{% extends "base.jinja" %}
{% block main %}
<form action="." method="POST" style="width:100%">
    <input type="hidden" class="csrf-token" name="csrf_token" value="{{ csrf_token() }}"/>
	<h1>Source wallet</h1>
	<div class="row center">
		<select name="source_wallet" style="max-width: 200px;">
			{% for wallet in wallets %}
			<option value="{{wallet.alias}}">{{ wallet.name }}</option>
			{% endfor %}
		</select>
	</div>
	<h1><br>Funding {{ addresses | length }} addresses</h1>
	<div class="row" style="padding: 0 50px">
		<label>The same amount for all addresses (sat): <input type="number" id="sameamount" class="inline" style="width: 200px;" value="0"></label>
	</div>
	<br><br>
	<div class="table-container" style="padding: 0 50px 50px 50px; width: 100%; max-height: 500px; overflow-y: scroll;">
		<table>
		<thead>
			<tr><th>#</th><th>Address</th><th>Label</th><th>Amount (sat)</th></tr>
		</thead>
		<tbody>
		{% for addr in addresses %}
			<tr>
				<td>{{ loop.index }}</td>
				<td>{{ addr["address"] }}<input type="hidden" value="{{addr["address"]}}" name="addresses[]"></td>
				<td><input type="text" name="labels[]" value="{{ addr["label"] }}"></td>
				<td><input type="number" class="massfund_amount" name="amounts[]" step="1" style="width: 200px" value="{{ addr["amount"] }}"></td>
			</tr>
		{% endfor %}
		</tbody>
		</table>
	</div>
	<br><br>
	<div class="center row">
		{% include "includes/fee-selection.html" %}
		<fee-selection id="fee-selection-component"></fee-selection>
	</div>
	<div class="row center" style="padding: 20px 50px">
    	<button type="submit" class="btn inline" name="action" value="createpsbt" style="max-width: 200px; padding: 15px 0;">Continue</button>
    </div>
</form>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    let sameamount = document.getElementById("sameamount");
    let amounts = Array.from(document.querySelectorAll(".massfund_amount"));
    sameamount.addEventListener('change', (e) => {
    	amounts.forEach(el => {
    		el.value = sameamount.value;
    	});
    });
    sameamount.addEventListener('keyup', (e) => {
    	amounts.forEach(el => {
    		el.value = sameamount.value;
    	});
    });
</script>
{% endblock %}