recursive-include src/cryptoadvance/specterext/exfund/templates *
recursive-include src/cryptoadvance/specterext/exfund/static *
recursive-include src/cryptoadvance/specterext/exfund/*/LC_MESSAGES *.mo
recursive-include src/cryptoadvance/specterext/exfund/translations/*/LC_MESSAGES *.po
include requirements.txt