{% extends "base.jinja" %}
{% block main %}

<style>
    h3 {
        font-weight: unset;
        margin: 5px 0 5px 0;
    }
</style>

{% include "includes/file-uploader.html" %}
{% include "includes/dnd-textarea.html" %}
{% include "exfund/components/text-explainer.html" %}

<div class="card" style="width: 800px">
<form action="." method="POST" role="form">
    <input type="hidden" class="csrf-token" name="csrf_token" value="{{ csrf_token() }}"/>
    <h1>Exfund extension</h1>
    <p class="note">
        This extension helps with funding multiple addresses in a single transaction ("transaction batching").<br>
        Select or drag-and-drop a CSV file containing addresess and click "Parse" to go to preview.<br>
        You can also just paste addresses here (use a new line for each address) and fill out the rest later in the preview.<br><br>
        CSV files can contain any number of columns, but one of them must be with addresses.<br>
        Amount column is optional, but if it exists the amounts should be in satoshis.<br><br>
        Recognized column names (case-insensitive, optional): <code>Address</code>, <code>Amount</code>, <code>Label</code>{% if specter.is_liquid %}, <code>Asset</code> (as hex assetid).{% endif %}
    </p>
    <h3>Destinations</h3>
    <div class="row">
        <dnd-textarea name="rawcsv" id="rawcsv" placeholder="You can paste a list of addresses here or drag & drop a csv file." value="{{rawcsv}}"></dnd-textarea>
    </div>
    <div class="row center">
        <file-uploader id="addr-uploader" image_src="{{ url_for('static', filename='img/file.svg') }}" button_width="300px" button_height="30px">
            <span slot="description">Choose a CSV file</span>
        </file-uploader>
    </div>
    <div class="row center">
        <button type="submit" class="btn" name="action" value="parse" style="margin: 8px; max-width: 300px;">Parse destinations</button>
    </div>
    <br>
    <text-explainer>
        <span slot="title">
            <h3 class="center">Settings</h3>
        </span>
        <div slot="content">
            <div class="row center" style="margin: 10px 0;">
                <label><input type="checkbox" class="inline" name="show_menu" id="show_menu" {{'checked' if show_menu else ''}}> Show menu on sidebar</label>
            </div>
            <div class="row center">
                <button type="submit" class="btn" style="max-width: 300px;" name="action" value="settings">Save settings</button>
            </div>
        </div>
    </text-explainer>

</form>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
    let textarea = document.getElementById("rawcsv");
    document.addEventListener('file-upload', e => {
        let result = e.detail.result;
        textarea.value = result;
    });
</script>
{% endblock %}
